{% extends "joi/base.html" %}

{% block content %}

<div>
    <div>
        <div style="display: inline-block; vertical-align: top;">
            <button id="togglePlay" style="font-size:74px;width:100px;"><i id="playIcon" class="fa fa-play"></i></button>
        </div>
        <div style="display: inline-block; margin-left: 20px;">
            <div style="display: none;">
                <span>Device ID : </span>
                <span id="device_id"></span>
            </div>
            <div>
                <span id="message" style="color: red;"></span>
            </div>
            <div>
                <h1 id="track_name" style="margin:0;">Song Name</h1>
                <h2 id="artist_name" style="margin:0;">Artist Name</h2>
                <h3 id="album_name" style="margin:0;">Album Name</h3>
            </div>
        </div>
    </div>
    <div>
        <img id="album_image" style="height:90%;" src="https://i.discogs.com/IOSpXBspmEHi1IU--iSqy8La9r2qTMx_waitx524cGs/rs:fit/g:sm/q:90/h:591/w:600/czM6Ly9kaXNjb2dz/LWltYWdlcy9SLTYw/MDg3NzgtMTQwODkw/NDEwMC01OTY0Lmpw/ZWc.jpeg"/>
    </div>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>

        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });

        console.log(params);

        var spotify_device_id;
        var spotify_player = null;
        window.onSpotifyWebPlaybackSDKReady = () => {
            const player = new Spotify.Player({
                name: params.name,
                getOAuthToken: cb => { cb(params.token); },
                volume: 0.5
            });

            spotify_player = player;

            player.addListener('player_state_changed', ({
                position,
                duration,
                paused,
                track_window: { current_track }
            }) => {
                console.log('Currently Playing', current_track);
                console.log('Position in Song', position);
                console.log('Duration of Song', duration);
                console.log('Paused', paused);

                if (paused) 
                    document.getElementById("playIcon").className = "fa fa-play";
                else 
                    document.getElementById("playIcon").className = "fa fa-pause";

                var artist = current_track.artists[0];
                var album = current_track.album;
                var album_image = album.images[0];

                document.getElementById("artist_name").textContent = artist.name;
                document.getElementById("track_name").textContent = current_track.name;
                document.getElementById("album_name").textContent = album.name;
                document.getElementById("album_image").src = album_image.url;

            });   

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
                spotify_device_id = device_id;
                document.getElementById("device_id").textContent=device_id;

                document.getElementById('togglePlay').click();
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('autoplay_failed', () => {
                console.log('Autoplay is not allowed by the browser autoplay rules');
                document.getElementById('message').textContent = 'Autoplay is not allowed by the browser autoplay rules';
            });

            document.getElementById('togglePlay').onclick = function() {
              player.togglePlay();
            };

            player.connect();

        }


     
    </script>
</div>

{% endblock %}
