{% extends "joi/base.html" %}

{% block content %}

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    window.onSpotifyWebPlaybackSDKReady = () => {
        const id = '13f2fffbb13cee7561b54e7d9240234845819f4e';
        const access_token = 'BQBQIo3W192Gw3sQ4yH51Ri8h7C7m-g7zZgcQUdMM-78o_uoAm0kqFOYdh20IN6-qxnYOHXSs9mpvGMWbOZod43wQmAo4iJ95-DFN3nf24czmFx7zDG33N6dRNSu-fdy9UBQXw1rpyzJF9A_I9loZwCpIPHg2p-F5c47JqCgIi6XOEr1V6bR88OBvAQ';
        const play = ({
            spotify_uri,
            playerInstance: {
                _options: {
                getOAuthToken
                }
            }
        }) => {
        getOAuthToken(access_token => {
            fetch(`https://api.spotify.com/v1/me/player/play?device_id=${id}`, {
            method: 'PUT',
            body: JSON.stringify({ uris: [spotify_uri] }),
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${access_token}`
            },
            });
        });
        };

        play({
            playerInstance: new Spotify.Player({ name: "..." }),
            spotify_uri: 'spotify:track:7xGfFoTpQ2E7fRF5lN10tr',
        });
    }
</script>

{% endblock %}
